<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.school.mapper.ClassMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.school.entity.po.Class">
        <id column="id" property="id" />
        <result column="grade" property="grade" />
        <result column="name" property="name" />
        <result column="excellent" property="excellent" />
    </resultMap>

    <!--获取学生分页数据-->
    <select id="getStudentPage" resultType="com.demo.school.entity.dto.ClassStudentDto">
        select s.*, c.id as classId, c.name as className
        from class c
        left join student s on c.id = s.class_id
        <where>
            <if test="qo.grade != null and qo.grade != 0">
                and c.grade = #{qo.grade}
            </if>
            <if test="qo.className != null and qo.ClassName != ''">
                and c.name like concat('%', #{qo.ClassName},'%')
            </if>
        </where>
        order by s.id
        limit #{page}, #{qo.size}
    </select>

    <!--使用ew条件自动拼接查询学生分页列表-->
    <select id="getStudentPage1" resultType="com.demo.school.entity.dto.ClassStudentDto">
        select s.*, c.id as classId, c.name as className
        from class c
        left join student s on c.id = s.class_id
        order by id
        ${ew.customSqlSegment}
    </select>
</mapper>
